body {
    color: #757575;
    font-family: "myriad-pro", sans-serif;
    font-size: 1.6em;
}

a {
    color: #3d3d3d;
}

a:hover {
    text-decoration: none;
    color: #7EAED9;
}

header {
    background: url('/img/mountains.jpg') 50% 0 no-repeat fixed;
    padding-bottom: 30px;
    height: 500px;
    position: relative;
}

header h1 {
    color: #566573;
    padding-top: 50px;
}

header .social {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50px;
}

header a {
    color: #566573;
}

header a:hover {
    color: #eecc86;
}

section {
    padding-bottom: 50px;
}


section h2 {
    margin-top: 50px;
    padding-bottom: 30px;
}


.about-me {
    background-color: #fff;
}

.about-me h2 {
    color: #3d3d3d;
}

.about-me h2 small {
    color: #b8b8b8;
}

.about-me p {
    margin: 10px 10px;
}

.projects {
    color: #566573;
    background: url('/img/old_mathematics_darker.png');
    padding-top: 50px; 
    padding-bottom: 50px;
}

.projects .container {
    background-color: rgba(255,255,255,0.7);
    padding: 0 50px 50px 50px;
}

.project h3 {
    color: #566573;
}

.project {
    padding-top: 40px;
}

.project img {
    border: 1px solid #77848C;
}

.project a img:hover {
    border: 1px solid #7EAED9;
    opacity: 0.5;
}

.main-footer {
    background-color: #DFE2EE;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* large modal view */
@media (min-width: 992px) {

    .modal article {
        width: 521px;
        float: left;
        margin-bottom: 20px;
        border-right: 1px solid #e5e5e5;
        padding-right: 20px;
        margin-right: 20px;
    }

    .modal article:last-of-type {
        margin-bottom: 0;
    }

    .modal aside {
        width: 317px;
        float: right;
    }

}

/* smaller modal view */
@media (max-width: 992px) {

    .modal article {
        width: 500px;
        margin: 0px auto 10px auto;
        border-top: 1px solid #e5e5e5;
        padding-top: 20px;
    }

    .modal article:first-child {
        border: none;
        padding-top: 0;
    }

    .modal aside {
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

}

@media (max-width: 545px) {

    .modal img {
        display: block;
        width: 258px;
        margin: 0 auto;
    }

    .modal article {
        width: 258px;
        margin: 0 auto;
    }
}

.modal {
    color: #585858;    
}

.modal footer {
    clear: both;
}

.modal-body {
    overflow: auto;
}
